@*@model IEnumerable<Country>*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List country</h2>

@*@foreach (var data in Model)
{
    <h4>@data.Id</h4>
    <h4>@data.NameRus</h4>
    <h4>@data.NameEn</h4>
    <h4>@data.IdImagesGpFlag</h4>
}*@