@*@model IEnumerable<Country>*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>List</h4>

@*@foreach (var data in Model)
{
    <h4>@data.Id</h4>
    <h4>@data.NameRus</h4>
    <h4>@data.NameEn</h4>
    <h4>@data.IdImagesGpFlag</h4>
}*@