<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>F1H</title>
    <link rel="stylesheet" href="~/vendor.min.css" />
</head>
    <body>
    <script src="~/vendor.min.js"></script>
    <div>
        @RenderBody()
    </div>
</body>
</html>
